@page
@model R2EShop.App.Pages.PhoneCase.IndexModel
@{
}
<div class="mx-32">
    <h1 class="font-extrabold text-3xl ">iPhone 15 Pro Max Cases</h1>
    <div class="grid grid-cols-4 divide-x divide-gray-100 w-full text-gray-900 ">
        <div class="pr-8 divide-y divide-gray-100">
            <ul class="py-8 font-bold text-lg">
                <li>
                    Apple
                </li>
                <li>
                    Samsung
                </li>
                <li>
                    Google
                </li>
                <li>
                    Google
                </li>
                <li>
                    Google
                </li>
            </ul>
            <ul class="py-8">
                <li class="font-bold">
                    Iphone
                </li>
                <li>
                    <div class="flex items-center space-x-3 mr-4 my-2">
                        <input type="checkbox" value="" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                        <label for="link-checkbox" class="">Iphone 15</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center space-x-3 mr-4 my-2">
                        <input type="checkbox" value="" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                        <label for="link-checkbox" class="">Iphone 15</label>
                    </div>
                </li>
                <li>    
                    <div class="flex items-center space-x-3 mr-4 my-2">
                        <input type="checkbox" value="" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                        <label for="link-checkbox" class="">Iphone 15</label>
                    </div>
                </li>
            </ul>                    
            <ul class="py-8">
                <li class="font-bold">
                    Iphone
                </li>
                <li>
                    <div class="flex items-center space-x-3 mr-4 my-2">
                        <input type="checkbox" value="" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                        <label for="link-checkbox" class="">Iphone 15</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center space-x-3 mr-4 my-2">
                        <input type="checkbox" value="" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                        <label for="link-checkbox" class="">Iphone 15</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center space-x-3 mr-4 my-2">
                        <input type="checkbox" value="" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                        <label for="link-checkbox" class="">Iphone 15</label>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-span-3 p-3">
            <div class="grid grid-cols-4 flex justify-between text-center">
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
                <div class="p-2">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://cdn-image02.casetify.com/usr/8600/22388600/~v4183/22173940x2_iphone-15-pro-max__color_natural-titanium_16005996.png.1000x1000-w.m80.webp" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#" class="font-bold text-md">
                            <h5>IPhone 15 ProMax</h5>
                            <h5>Bounce Case MagSafe Compatible</h5>
                            <h5>7 color</h5>
                            <p>30$</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>